#main{
    width: 45vw;
    margin-left: 47vw;
   
}
#about {
    margin-top: 7rem;
    margin-left: 1rem;

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
    }
}

